<h1>Typography</h1>

<h1 class="mat-display-1">.mat-display-1</h1>
<h2 class="mat-display-2">.mat-display-2</h2>
<h3 class="mat-display-3">.mat-display-3</h3>
<h4 class="mat-display-4">.mat-display-4</h4>

<h1 class="mat-h1">.mat-h1</h1>
<h2 class="mat-h2">.mat-h2</h2>
<h3 class="mat-h3">.mat-h3</h3>
<h4 class="mat-h4">.mat-h4</h4>

<div class="mat-headline">.mat-headline</div>
<div class="mat-title">.mat-title</div>
<div class="mat-subheading-1">.mat-subheading-1</div>
<div class="mat-subheading-2">.mat-subheading-2</div>

<h1 class="mat-headline">.mat-headline</h1>
<h1 class="mat-title">.mat-title</h1>
<h3 class="mat-subheading-1">.mat-subheading-1</h3>
<h4 class="mat-subheading-2">.mat-subheading-2</h4>


<p class="mat-body">
  mat-body text mat-body text mat-body text mat-body text mat-body text 
  mat-body text mat-body text mat-body text mat-body text mat-body text 
  mat-body text mat-body text mat-body text mat-body text mat-body text 
  mat-body text mat-body text mat-body text mat-body text mat-body text 
</p>
<p class="mat-body-1">
    mat-body-1 text mat-body-1 text mat-body-1 text mat-body-1 text mat-body-1 text 
    mat-body-1 text mat-body-1 text mat-body-1 text mat-body-1 text mat-body-1 text 
    mat-body-1 text mat-body-1 text mat-body-1 text mat-body-1 text mat-body-1 text 
    mat-body-1 text mat-body-1 text mat-body-1 text mat-body-1 text mat-body-1 text 
</p>
<p class="mat-body-strong">
    mat-body-STRONG text mat-body text mat-body text mat-body text mat-body text 
    mat-body text mat-body text mat-body text mat-body text mat-body text 
    mat-body text mat-body text mat-body text mat-body text mat-body text 
    mat-body text mat-body text mat-body text mat-body text mat-body text 
</p>
<p class="mat-body-2">
    mat-body-2 text mat-body-2 text mat-body-2 text mat-body-2 text mat-body-2 text 
    mat-body-2 text mat-body-2 text mat-body-2 text mat-body-2 text mat-body-2 text 
    mat-body-2 text mat-body-2 text mat-body-2 text mat-body-2 text mat-body-2 text 
    mat-body-2 text mat-body-2 text mat-body-2 text mat-body-2 text mat-body-2 text 
</p>
    



<h1>Bootstrap Grid</h1>

<div class="row">
  <div class="col">
    <h2>All breakpoints</h2>
    <p>
      For grids that are the same from the smallest of devices to the largest, use the .col and .col-* classes. Specify a numbered class when you need a particularly sized column; otherwise, feel free to stick to .col.
    </p>
  </div>
</div>

<div class="bd-example-row">
    <div class="bd-example">
      <!-- <div class="container"> -->
        <div class="row">
          <div class="col">col</div>
          <div class="col">col</div>
          <div class="col">col</div>
          <div class="col">col</div>
        </div>
        <div class="row">
          <div class="col-8">col-8</div>
          <div class="col-4">col-4</div>
        </div>
<!-- </div> -->
</div>
</div>


<h2>Mix and Match</h2>
<div class="bd-example-row">
    <div class="bd-example">
      <!-- <div class="container"> -->

      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row">
        <div class="col-12 col-md-8">.col-12 .col-md-8</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
      </div>

      <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
      <div class="row">
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        <div class="col-6 col-md-4">.col-6 .col-md-4</div>
      </div>

      <!-- Columns are always 50% wide, on mobile and desktop -->
      <div class="row">
        <div class="col-6">.col-6</div>
        <div class="col-6">.col-6</div>
      </div>
<!-- </div> -->
  </div>
</div>




<h2>Stacked to horizontal</h2>
<p>
Using a single set of .col-sm-* classes, you can create a basic grid system that starts out stacked and becomes horizontal at the small breakpoint (sm).
</p>

<div class="bd-example-row">
  <div class="bd-example">
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col-sm-8">col-sm-8</div>
        <div class="col-sm-4">col-sm-4</div>
      </div>
      <div class="row">
        <div class="col-sm">col-sm</div>
        <div class="col-sm">col-sm</div>
        <div class="col-sm">col-sm</div>
      </div>
    <!-- </div> -->
  </div>
</div>



<h2>Flexbox Alignment</h2>

<div class="bd-example-row bd-example-row-flex-cols">

  <div class="bd-example">
  <!-- <div class="container"> -->

<div class="row align-items-start">
  <div class="col">
    One of three columns
  </div>
  <div class="col">
    One of three columns
  </div>
  <div class="col">
    One of three columns
  </div>
</div>
<div class="row align-items-center">
  <div class="col">
    One of three columns
  </div>
  <div class="col">
    One of three columns
  </div>
  <div class="col">
    One of three columns
  </div>
</div>
<div class="row align-items-end">
  <div class="col">
    One of three columns
  </div>
  <div class="col">
    One of three columns
  </div>
  <div class="col">
    One of three columns
  </div>
</div>

<!-- </div> -->
</div>
</div>